In [1]:
import numpy as np
import pandas as pd

In [2]:
filename = 'TestData0.csv'
df = pd.read_csv(filename)
df

     A    B    C    Q
0 -0.4 -0.3 -0.5   no
1 -0.4  0.2 -0.1  yes
2 -0.3 -0.4 -0.3   no
3  0.3 -0.3  0.0  yes
4  0.2 -0.3  0.0  yes
5  0.2  0.0  0.0   no

In [3]:
df['Q']=df['Q'].map({'yes': 1, 'no': 0})
df

     A    B    C  Q
0 -0.4 -0.3 -0.5  0
1 -0.4  0.2 -0.1  1
2 -0.3 -0.4 -0.3  0
3  0.3 -0.3  0.0  1
4  0.2 -0.3  0.0  1
5  0.2  0.0  0.0  0

In [4]:
X=[[f] + row for f, row in enumerate(df.values.tolist())]
X

[[0, -0.4, -0.3, -0.5, 0.0],
 [1, -0.4, 0.2, -0.1, 1.0],
 [2, -0.3, -0.4, -0.3, 0.0],
 [3, 0.3, -0.3, 0.0, 1.0],
 [4, 0.2, -0.3, 0.0, 1.0],
 [5, 0.2, 0.0, 0.0, 0.0]]

In [5]:
def equival(table , ind ):
    J, dicJ = [], {}
    for i in range (0,len(table)):
        flag = 0
        val= table[i][0]
        for k in J:
            n = [table[next(iter(k), "end")][j] == table[i][j] for j in ind]
            if 0 not in n:
                k.add(val)
                dicJ[val] = k
                flag = 1
                break
        if not flag:
            J.append(set([val]))
            dicJ[val]=J[-1]
    #print(J)
    #print(dicJ)
    #print('\n')
    
    return J,dicJ

In [6]:
def dependency(B):
    lowAppList = []
    for x in range (0, len(X)):
        if equival( X , B )[1][x].issubset(equival( X , A )[1][x]):
            lowAppList.append(x)
    return lowAppList

In [7]:
def quickReduct(C):
    n=len(X)
    R = set()
    c=dependency(C)
    while True:
        T = R
        for x in C-R:
            t=dependency(T)
            r=dependency(R)
            ru=dependency(R.union(set([x])))
            if (len(ru)/n > len(t)/n):
                T = R.union(set([x]))
        R = T
        if len(r)/n == len(c)/n:
                break
    return R

In [8]:
A = [len(df.columns)]    
B = set([ i for i in range(1,len(df.columns))])
FeaturesReduc = quickReduct(B)
FeaturesReduc

{1, 2}